@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap");

:root {
  --basic-green: #68b738;
  --basic-grey: #f2f2f2;
  --special-grey-2: #ebebeb;
  --special-grey: #cdcdcd;
  --special-grey-2: #666;
  --special-dark-grey: #444;
  --special-dark-grey-2: #222;
  --status-error: #ff8282;
  --basic-green-2: #5eaa2f;
}

:root {
  --font-family: "Oswald", sans-serif;
  --second-family: "Arial", sans-serif;
}

* {
  font-family: "Oswald", sans-serif;
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100%;
  height: 100%;

}

/* шапка */
header {
  position: absolute;
  width: 100%;
  top: 30px;
  z-index: 10;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 30px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav {
  display: flex;
  list-style: none;
  gap: 40px;
}

.nav li a {
  text-decoration: none;
  font-size: 20px;
  text-transform: uppercase;
  color: #fff;
  position: relative;
}

.nav li a:hover::after {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 100%;
  height: 2px;
  background: #fff;
}

/* конец шапки */


/* главная */

.main {
  position: relative;
  height: 700px;
  overflow: hidden;
  width: 100%;
  background: #fff;
}

.main-wrap {
  max-width: 1200px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  padding-left: 60px;
}

.text-block {
  max-width: 380px;
  z-index: 3;
}

.can {
  position: absolute;
  left: 53%;
  transform: translateX(-40%);
  width: 530px;
  z-index: 4;
  top: 150px;
}

.cat-img {
  position: absolute;
  top: 0;
  height: 100%;
  width: 50vw;
  object-fit: cover;
  z-index: 2;
  pointer-events: none;

  right: 0px;
}

.text-block {
  max-width: 380px;
  display: flex;
  flex-direction: column;
  gap: 52px;
  margin-left: 80px;
}

.cat {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 60px;
  line-height: 100%;
  color: #000;
  width: 415px;
}

.catss {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 20px;
  line-height: 100%;
  text-transform: uppercase;
  color: #000;
  margin-bottom: 5px;
}

.btn {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 20px;
  line-height: 0%;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  width: 244px;
  height: 54px;
  background: var(--basic-green);
  border: none;
  cursor: pointer;
}

/* конец главной */

/* секция с карточками */
.features {
  padding: 60px 0;
  background-color: #ffffff;
}

.features .container {
  display: flex;
  gap: 80px;
  justify-content: center;
}

.feature-card {
  background-color: #f2f2f2;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
  width: 450px;
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: start;
}

.feature-card .icon,
.feature-card .iconm {
  grid-row: 1;
  grid-column: 1;
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.feature-card .icon img {
  width: 100px;
  height: 106px;
  object-fit: contain;
}

.feature-card .iconm img {
  width: 134px;
  height: 100px;
  object-fit: contain;
}

.feature-card h2 {
  font-family: "Oswald";
  grid-row: 1;
  grid-column: 2;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 30px;
  margin-left: 40px;
  text-transform: uppercase;
  align-self: end;
}

.feature-card p,
.feature-card .catalog-link {
  grid-column: 1 / -1;
  margin-left: 20px;
}

.feature-card p {
  margin-top: 39px;
  margin-left: 20px;
  margin-bottom: 23px;
  color: #555;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #000;
}

.catalog-link {
  font-family: "Oswald";
  font-weight: 400;
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
  color: #000;
  color: #333;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
}

.catalog-link:hover {
  text-decoration: underline;
}

/* карточки кончились */



/* помощь */
.help {
  display: flex;
  flex-direction: column;
  padding: 80px 40px 100px;
  justify-content: center;
  align-items: center;
  gap: 60px;

}

.help>h2 {
  font-size: 40px;
}

.helpdf {
  display: flex;
  width: 206px;
}

.helpdf>img {
  width: 100px;
  height: 200px;
  z-index: 0;
}

.helpdf2 {
  display: flex;
  width: 206px;
}

.helpdf2>img {
  width: 100px;
  height: 200px;
}

.helpdf3 {
  display: flex;
  width: 206px;
}

.helpdf3>img {
  width: 100px;
  height: 200px;
}

.helpdf4 {
  display: flex;
  width: 206px;
}

.helpdf4>img {
  width: 100px;
  height: 200px;
}

.help-block {
  display: flex;
  flex-wrap: wrap;
  width: 1200px;
  gap: 122px;
  justify-content: center;
}

.help-card {
  display: flex;
  flex-direction: column;
  gap: 31px;
  width: 166px;
}

.help-card>img {
  width: 80px;
  height: 80px;
  z-index: 0;
}

.texthelp {
  font-family: Arial, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: var(--special-dark-grey);
  width: 201px;
  z-index: 10;
}

.helph2 {
  margin: 0 auto 60px;
  width: 1200px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 60px;
  line-height: 100%;
  color: #000;
}

/* помощь кончилась */

/* пример */
.example {
  background: #f2f2f2;
  height: 70dvh;
}

.help {
  padding-bottom: 200px;
}

.description {
  max-width: 436px;
}

.description p {
  margin-bottom: 69px;
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: var(--special-dark-grey);
}

.cost {
  display: flex;
  text-align: center;
  gap: 42px;
  margin-bottom: 42px;
}

.item1 {
  border: solid 0.5px gray;
  border-radius: 5px;
  margin-top: 11px;

  width: 162px;
  height: 77px;
}

.item2 {
  border: solid 0.5px gray;
  border-radius: 5px;
  margin-top: 11px;

  width: 162px;
  height: 77px;
}

.wasted {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  text-align: center;
  color: var(--special-dark-grey);

  margin-top: 11px;
}


.days,
.weight {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 30px;
  line-height: 123%;
  text-align: center;
  color: #000;
  margin-top: 11px;
}


.example>.helph2 {
  position: relative;
  transform: translateY(-130px);
  margin-top: 69px;
}

.before {
  position: relative;
  transform: translateY(-115px);
}

.example>.container {
  display: flex;
}

.slider-container {
  position: relative;
  transform: translate(134px, -262px);
}

.payments {
  display: flex;
  gap: 63px;

  font-family: var(--font-family);
  font-weight: 400;
  font-size: 20px;
  line-height: 100%;
  text-transform: uppercase;
  text-align: center;
  color: #000;
}

.payments .sum {
  margin-left: 10px;
}

/* карта и футер */
.map {
  width: 100%;
  background-image: url(./img/location.svg);
  height: 50dvh;
  background-size: cover;
}

.df-footer {
  display: flex;
  gap: 21.5px;
  width: 115px;
  height: 24px;
}

.mapblock {
  background-color: white;
  display: flex;
  width: 570px;
  height: 201px;
  padding-right: 76px;
  padding-left: 76px;
  padding-top: 66px;
  padding-bottom: 51px;
  margin-left: 308px;
  margin-top: 128px;
}

.df-block {
  display: flex;
  flex-direction: column;
}

footer {
  background-color: #F2F2F2;
  height: 150px;
  background-size: cover;
  padding: 40px;

}

.fblock-info {
  display: flex;
  gap: 20px;
  color: #F1CDB3;
}

.footer-block {
  color: white;
  width: 302px;
  display: flex;
  gap: 34px;
  flex-direction: column;
}

.footer {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin-top: 62px;
}

footer img {
  cursor: pointer;
}

/* карта и футер закончились */